@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
}

main {
  @apply grid h-screen overflow-auto scroll-snap-y;
}

.animation-group {
  @apply flex flex-wrap justify-center gap-8 mt-8;
}

.icon {
  @apply text-6xl flex flex-col items-center justify-center cursor-pointer;
  transition: transform 0.3s ease;
}

@layer utilities {
  .scroll-snap-y {
    scroll-snap-type: y mandatory;
  }

  .snap-start {
    scroll-snap-align: start;
  }
}

p {
  text-transform: capitalize;
}
h1 {
  text-transform: capitalize;
}
h2 {
  text-transform: capitalize;
}
h3 {
  text-transform: capitalize;
}
h4 {
  text-transform: capitalize;
}
